AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
#     Enabled: true
#     AcrossEmptyLines: false
#     AcrossComments: true
#     AlignCompounds: true
#     PadOperators: true
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
# AlignConsecutiveShortCaseStatements:
#     Enabled: true
#     AcrossEmptyLines: true
#     AcrossComments: true
#     AlignCaseColons: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
#    TrailingCommentsAlignmentKinds: Always
#    OverEmptyLines: 0
#    MaxEmptyLinesToKeep: 1
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
# AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None # All
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
# BraceWrapping: 
# BracedInitializerIndentWidth: 2
# BreakAdjacentStringLiterals: true
# BreakAfterAttributes: Never
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeConceptDeclarations: true # Always
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
# BreakTemplateDeclarations: Yes
ColumnLimit: 0
CompactNamespaces: false
Cpp11BracedListStyle: true
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IncludeBlocks: Regroup
# IncludeCategories: # find best
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentExternBlock: AfterExternBlock
IndentPPDirectives: BeforeHash
# IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: true
# InsertBraces: true
# InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
# IntegerLiteralSeparator:
#     Binary: 4
#     BinaryMinDigits: 8
#     Decimal: 3
#     DecimalMinDigits: 5
#     Hex: 4
#     HexMinDigits: 8
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
Language: Cpp
# LineEnding: LF
# MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
# PPIndentWidth: 2
PackConstructorInitializers: NextLine # NextLineOnly
PointerAlignment: Middle
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'constexpr', 'const', 'volatile', 'restrict', 'type']
ReferenceAlignment: Left
ReflowComments: true
RemoveBracesLLVM: false
# RemoveParentheses: Leave
# RemoveSemicolon: false
# RequiresClausePosition: OwnLine
# RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortIncludes: CaseSensitive
SortUsingDeclarations: true # Lexiographic
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
# SpaceBeforeParensOptions: 
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1 #true
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix: # true
    Minimum: 1
    Maximum: 1
# SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: c++20
TabWidth: 4
UseTab: Always
